/* ######################################################### */
/*                   FORMS SETTINGS BASIC                    */

/* Dependencies:
    1. _variables.scss
*/
/* ######################################################### */


input, select { // use a class to prevent it clashing with buttons inputs?


    // reset safari defaults

    /* clashes with radios - needs to be :not
    -webkit-appearance: none;

    */
    //outline:1px solid #f00;
    @include font-full(16, $input-text);
    margin-bottom:0;
    font-weight:600;
    padding:$input-pad-v;
    border:1px solid darken($divider-colour, 10%);
    border-radius: 2px;
    box-shadow:none;
    transition:$default-transition;
    line-height: 1.618; // firefox needs this
    width:100%; // firefox needs this
    color:#333;

            &:focus {
             background-color:#fff;
             box-shadow: 0px 0px 6px 0px $highlight-colour;
            }
        }

option { // Android needs this as inherits from customised OS level settings
    background-color:#fff;
}

form {
    padding:$gutter/2; // form__simple uses the same value to offset absolute positioning on the button
    margin-bottom:3em;
}

fieldset {
    //padding:$gutter/2 0;
    margin-bottom:$doc-font-size +px;
    margin-bottom:1.618em;
    border-radius:1px;
    fieldset {
        padding:0;
        border:none;
        position:relative;
        legend{
            color:#666;
            font-weight:600;
            margin-bottom:3px;
            @include font-size(16);
            line-height: 1.618;
        }
    }
        // when we have nested inputs that need to look like one. e.g. your weight or DOB
    &.narrative {
        margin-bottom:1.618rem;
    }
}


label {
    color:#666;
    float:left; //contain floated children
    position:relative; // useful for validation
    margin-bottom:1.618rem;
    width: 100%;// Added for FF
}


.checkbox, .radio { // added to the label as it will affect more than just the label
    padding-left:1.5em;
    position:relative;
        input {
            width:auto;
            height:auto;
            border:none;
            position:absolute;
            left:0;
            top:2px;
            padding:0; // safari 8 needs this

            &:focus {
                background-color:inherit;
                box-shadow:none;
            }
        }
    }



.disable-spinner[type=number] {
     -moz-appearance:textfield;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button
            {
                -webkit-appearance: none;
                margin: 0;
            }
         }


/* ######################################################### */
/*                 BASIC SINGLE INPUT FORMS                  */
/* ######################################################### */

// a block level element that  wraps a single input/button pairing allowing the input to be full width and the button to be next to it, with a break point for very small screens.
// In a simple stand-alone form, e.g. search,  this acts as the main wrapper on the form element itself <form class="form__simple">
.form--simple {

    @media screen and (min-width:$small-breakpoint) {
            // button width is set to $column*1.5
            padding-right:$column*1.5 +$gutter/2 +1px;
        //  this provides the space for the button by forcing the input to leave a gap at the right side. If we set this to gutter/1.5 the button will butt up next to the input
            position:relative; // so we can use position absolute on child elements
            input {
                margin-right:$column;
            }
            .btn, .btn--secondary {
                //width:$column;// the form__simple container leaves gap equivilent to to column + gutter so we set the width of the button to $column and off set it below with the absolute positioning
                right:$gutter/2 + 0px; // leave a half gutter margin to the right, this brings the button back centrally in to the gap left by the input
                bottom:$gutter/2 +2px; // compensate for the padding on the form element
                position:absolute;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;

            }
    }
}


// When there is more than one wrapper, they each have padding which visually  makes the form look off center at the right edge. so we compensate by shortening the gap left for the button and butting it up to the edge of its container.
fieldset {
  /* div */  .form--simple  { // this will be attached ot a div to act as a wrapper
        padding-right:$column*1.5+1px; // we inherit the padding from the fieldset so we need to compensate by making the gap smaller.
        .btn, .btn--secondary {
           bottom:2px;
            right:0;
            }
        }
    }


.form--simple--fixed { // same as above but limits the width of the element. ?POOR NAME CONVENTION
    @extend .form--simple;
    max-width:$small-breakpoint;
}

/* ######################################################### */
/*                        MULTI-INPUT FORMS                  */
/* ######################################################### */

.form--multi {
    label {
        margin-bottom:1em;
        display:block;
    }
}

.input--small { // this class name is based on the expected input
    display:block;
}

.input--v-small {
    display:block;
}

@media screen and (min-width:$small-breakpoint) {
    .form--multi__submit {
        margin-left:$gutter/2;
    }
    .input--small { // this class name is based on the expected input
        max-width:$column*3;
    }
    .input--v-small {
        max-width:$column*2;
    }
}

.input--numeric {
    text-align:right;
}

/* ######################################################### */
/*                  OVERRIDES FOR SEARCH FORMS               */
/* ######################################################### */
 .search--label{
     position:relative;
     &::before {
     font-family:FontAwesome;
     position:absolute;
     left:6px;
     top:50%; // faking 50%+4px with position and margin
     margin-top:4px;
     opacity:0.3;
     z-index:999;
    }
     &:focus { // not possible without parent selectors
         opacity:0;
     }
     input {
         padding-left:$doc-font-size *1.5 +px;
     }
 }



/* #########################################################
                          VALIDATION
Using placeholders as this is oftn handled by third party tools, so we mmay not have access to outed classes
######################################################### */
/*
** USAGE:
.field-validation-error {
    @extend %validation--message;
}
*/


%validation--message {
 display:block;
    @include font-full(11, $content-text);
    margin:0 2px;
    line-height:1.25;
    color:#fff;
    padding:$gutter/4 $gutter/2;
    background-color:#900;
    position:absolute;
    z-index:99990;
    top:100%;
    //bottom:-2.8em; // ooooh magic number. this is super bad terrible practice for robustness
    border-radius:0 0 2px 2px;
    text-shadow:1px 1px 1px #600;
    box-shadow:inset 0px 0px 3px #600;

       &:after, &:before {
            bottom: 100%;
            left: 8px;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
       }

        :after {
            border-color: transparent;
            border-bottom-color: #600;
            border-width: 4px;
            margin-left: -4px;
        }

        :before {
            border-color: transparent;
            border-bottom-color: #600;
            border-width: 6px;
            margin-left: -6px;
    }
}
