

/* basic setup for this guide  */



/* ######################################################### */
/*                       helper classes                      */
/* ######################################################### */

.inline {
    display:inline;
    padding:1px;
}


.right, .left {
    clear:both;
    @media screen and (min-width:$med-breakpoint) {
            clear:none;
            float:right;
            width:33%;
    }
}

.left {
    float:left;
}

.panel {
    padding:$gutter/2;
    background-color:$panel-colour;
    margin-bottom: 1.618rem;
}


// utitlities
    // when we need to overwrite as a one off
.no-btm-margin {
    margin-bottom:0;
}

.hidden {
    display:none;
}


.js .js-hidden {
    display:none;
}

.no-js .no-js-hidden {
    display:none;
}

