/* #####################################################

Local Variables

###################################################### */
/* ############################################################

them bg images

 ############################################################ */
.theme-bg {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  opacity: 0;
  background: transparent url(../images/recipes/menu-pics/fakeaway-aroundworld.jpg) center center no-repeat;
  background-size: cover;
  transform: translateZ(0);
}
.theme-bg.hangover {
  background-image: url(../images/recipes/menu-pics/hangover-sml.jpg);
}
.theme-bg.pancake {
  background-image: url(../images/recipes/menu-pics/pancake-sml.jpg);
}
.theme-bg.sunday {
  background-image: url(../images/recipes/menu-pics/sunday-sml.jpg);
}
.theme-bg.valentines {
  background-image: url(../images/recipes/menu-pics/valentines-sml.jpg);
}
.theme-bg.dinner-party {
  background-image: url(../images/recipes/menu-pics/dinner-party-sml.jpg);
}
.theme-bg.tea-party {
  background-image: url(../images/recipes/menu-pics/tea-party-sml.jpg);
}
.theme-bg.chinese {
  background-image: url(../images/recipes/menu-pics/chinese-sml.jpg);
}
.theme-bg.playdateparty {
  background-image: url(../images/recipes/menu-pics/playdateparty-sml.jpg);
}
.theme-bg.brunch {
  background-image: url(../images/recipes/menu-pics/brunch-sml.jpg);
}
.theme-bg.boys-night-in-budget {
  background-image: url(../images/recipes/menu-pics/boys-night-in-budget-sml.jpg);
}
.theme-bg.purse-friendly-girls-night-in {
  background-image: url(../images/recipes/menu-pics/purse-friendly-girls-night-in-sml.jpg);
}
.theme-bg.boardroom-buffet {
  background-image: url(../images/recipes/menu-pics/boardroom-buffet-sml.jpg);
}
@media screen and (min-width: 1080px) {
  .theme-bg.hangover {
    background-image: url(../images/recipes/menu-pics/hangover.jpg);
  }
  .theme-bg.pancake {
    background-image: url(../images/recipes/menu-pics/pancake.jpg);
  }
  .theme-bg.sunday {
    background-image: url(../images/recipes/menu-pics/sunday.jpg);
  }
  .theme-bg.valentines {
    background-image: url(../images/recipes/menu-pics/valentines.jpg);
  }
  .theme-bg.dinner-party {
    background-image: url(../images/recipes/menu-pics/dinner-party.jpg);
  }
  .theme-bg.tea-party {
    background-image: url(../images/recipes/menu-pics/tea-party.jpg);
  }
  .theme-bg.chinese {
    background-image: url(../images/recipes/menu-pics/chinese.jpg);
  }
  .theme-bg.playdateparty {
    background-image: url(../images/recipes/menu-pics/playdateparty.jpg);
  }
  .theme-bg.brunch {
    background-image: url(../images/recipes/menu-pics/brunch.jpg);
  }
  .theme-bg.boys-night-in-budget {
    background-image: url(../images/recipes/menu-pics/boys-night-in-budget.jpg);
  }
  .theme-bg.purse-friendly-girls-night-in {
    background-image: url(../images/recipes/menu-pics/purse-friendly-girls-night-in.jpg);
  }
  .theme-bg.boardroom-buffet {
    background-image: url(../images/recipes/menu-pics/boardroom-buffet.jpg);
  }
}

.theme__card__header {
  top: 3px;
  left: 3px;
}

.menu {
  opacity: 0;
  visibility: hidden;
}

.close-recipe {
  position: absolute;
  top: -31px;
  right: 4px;
  padding: 3px;
  z-index: 99999;
  font: 1.25rem / 1.618 "Source Sans Pro", sans-serif;
  cursor: pointer;
  padding: 2px 10px;
  border: 1px solid #eee;
  background-color: #ebe6e6;
  text-align: center;
  color: #666;
  text-shadow: 1px 1px 1px #fff;
  border: 1px solid #f9f9f9;
  transform: scale(1, 0.75);
}
.close-recipe:hover {
  background-color: #f4f4f4;
}

.kern {
  margin-right: -3px;
}

/*#################
Basic setup
###################*/
.menu__holder {
  width: 100%;
  max-width: 560px;
  position: absolute;
}

.menu {
  max-width: 540px;
  position: relative;
  z-index: 999;
  padding: 2.5em;
  padding-top: 0;
  border-radius: 1px;
  box-shadow: 0px 0px 18px 12px rgba(0, 0, 0, 0.35);
  transform-origin: 0% 0%;
}
@media screen and (max-width: 540px) {
  .menu {
    padding-top: 0;
    padding: 1em;
    left: -2em !important;
    margin-right: -2em !important;
  }
}

.note {
  font-size: 80%;
}

.menu__card__dishes {
  margin: 0;
  position: relative;
  color: #999;
}
.menu__card__dishes a {
  width: 100%;
  display: block;
}
.menu__card__dishes a:hover {
  text-decoration: underline;
}
.menu__card__dishes a:visited {
  opacity: 0.5;
}

/*ul*/
.menu__card__dishes, .tagline, .inner-list {
  background-color: #fff;
  font: 1.45em/1.2 'Sorts Mill Goudy', serif;
  color: #23262a;
  list-style: none;
  text-align: center;
  padding: 1.754em;
  border: 3px dotted #f1f2f4;
  border-radius: 3px;
}
.menu__card__dishes li, .tagline li, .inner-list li {
  padding: 0 0 1.5em 0;
  margin-top: 1em;
}

.tagline {
  border: none;
  font-size: 90%;
  letter-spacing: -1px;
  font-style: italic;
}

.menu__card__header {
  color: #fff;
  height: 5.85em;
  width: 120%;
  max-width: 120%;
  padding: 1em 10px 4px 10px;
  margin: 0 -10%;
  position: absolute;
  top: -72px;
  left: 0;
  right: 0;
  background: transparent url(../images/svg/red-banner.svg) center center no-repeat;
  background-size: contain;
  font-family: harabarahanditalic;
  font-size: 1.5em;
  line-height: 1.95;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 999999999;
}
@media screen and (max-width: 540px) {
  .menu__card__header {
    font-size: 100%;
    width: 100%;
    max-width: 100%;
    margin: 0;
    top: -54px;
    line-height: 2.5;
  }
}

.inner {
  padding: 2em;
  background-color: #fff;
}

.divider {
  padding-bottom: 1em;
  position: relative;
  margin-bottom: 1.5em;
}
.divider:after {
  content: '~';
  font-family: serif;
  width: 100%;
  display: block;
  font-size: 1.5em;
  line-height: 0;
  color: #9ea5ae;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* #################

Chinese

################# */
.menu--chinese {
  background: #F8EEDE url(../images/recipes/chinese-border.gif) center center repeat;
  box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.55), 1px 1px 12px 6px rgba(35, 38, 42, 0.25);
}
.menu--chinese .inner {
  outline: 12px solid rgba(35, 38, 42, 0.15);
  background: #fff url(../images/recipes/chinese-flowers.jpg) bottom left no-repeat;
  box-shadow: 3px 3px 2em 0px rgba(35, 38, 42, 0.55);
  margin-top: -6px;
}
.menu--chinese ul {
  border-color: #7C3136;
  border-top: 0;
  padding-top: 72px;
  margin: -12px 0 0;
  background: transparent url(../images/recipes/chinese-bird.gif) top 22px right 22px no-repeat;
}
.menu--chinese li {
  padding-bottom: 0em;
}
.menu--chinese .divider {
  padding-bottom: 1.5em;
}
.menu--chinese a {
  color: #7C3136;
}
.menu--chinese .char9 {
  margin-right: -5px;
}

.chinese + header + .wrapper .recipe__holder h2, .chinese + header + .wrapper .recipe__holder h1 {
  color: #7C3136;
}

/* #################

Dinners

################# */
.menu--dinner {
  background: #F8EEDE url(../images/recipes/chinese-border.gif) center center repeat;
}
.menu--dinner .menu__card__dishes {
  border: 1px solid #c6953f;
  margin: 1.25em;
  margin-top: 2.5em;
  padding-top: 5em;
  background: #fff url(../images/recipes/dinner-party-top.gif) top 36px center no-repeat;
  box-shadow: 0 0 1em 0px #c6953f;
}
.menu--dinner li:after {
  color: #dec18d;
}
.menu--dinner a {
  color: #c6953f;
}
.menu--dinner .tagline {
  color: #FBB020;
}
.menu--dinner .tagline:after, .menu--dinner .tagline:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 72px;
  height: 72px;
  background: #fff url(../images/recipes/dinner-party-right.gif) right 4px bottom 4px no-repeat;
}
.menu--dinner .tagline:before {
  left: 0;
  right: auto;
  background: #fff url(../images/recipes/dinner-party-left.gif) left 4px bottom 4px no-repeat;
}

.dinner-party + header + .wrapper .recipe__holder h2, .dinner-party + header + .wrapper .recipe__holder h1 {
  color: #c6953f;
}

/* #################

Valentines

################# */
.menu--valentines {
  background: #EC1C25 url(../images/recipes/hessian-red.gif) top left repeat;
}
.menu--valentines .inner {
  box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.3);
}
.menu--valentines .menu__card__dishes {
  border-color: #EC1C25;
  margin-top: -20px;
}
.menu--valentines a {
  color: #EC1C25;
}
.menu--valentines .tagline {
  margin-top: 0;
  padding-top: 2.5em;
  background: transparent url(../images/recipes/heart-divider.gif) center top no-repeat;
}

/* #################

Hangover 1

################# */
.menu.menu--hangover {
  background: #2D9BD6 url(../images/recipes/check-borders.png) center center repeat;
  padding: 1.75em;
  padding-top: 0;
}
.menu.menu--hangover .inner {
  background: #fff url(../images/recipes/paper-bg.gif) center center repeat;
  padding: 8px;
  border: 1px solid #2D9BD6;
}
.menu.menu--hangover .menu__card__dishes {
  background-color: transparent;
  border: 3px solid #828b97;
  padding: 0px;
}
.menu.menu--hangover .menu__card__dishes ul {
  background-color: transparent;
  border: 1px solid #9ea5ae;
  margin: 4px;
  font-size: 95%;
}
.menu.menu--hangover li {
  list-style: none;
  padding-bottom: 0;
}
.menu.menu--hangover .divider {
  padding-bottom: 1.5em;
}
.menu.menu--hangover .tagline {
  background-color: transparent;
  color: #5A975E;
  margin-top: 3em;
}
.menu.menu--hangover a {
  color: #2D9BD6;
}
.menu.menu--hangover .inner-list {
  position: relative;
}
.menu.menu--hangover .inner-list:before, .menu.menu--hangover .inner-list:after {
  position: relative;
  opacity: 0.75;
  top: 0;
  margin: auto;
  content: '';
  width: 100%;
  display: block;
  height: 64px;
  background: transparent url(../images/recipes/hangover-curls.png) center top no-repeat;
}
.menu.menu--hangover .inner-list:after {
  background: transparent url(../images/recipes/hangover-curls-invert.png) center bottom no-repeat;
  top: auto;
  bottom: -1em;
}

.hangover + header + .wrapper .recipe__holder h2, .hangover + header + .wrapper .recipe__holder h1 {
  color: #5A975E;
}

.brunch + header + .wrapper .recipe__holder h2, .brunch + header + .wrapper .recipe__holder h1 {
  color: #2D9BD6;
}

/* #################

Hangover 2

################# */
.menu.menu--hangover-two {
  background-color: #ED3429;
}
.menu.menu--hangover-two .inner-list:after, .menu.menu--hangover-two .inner-list:before {
  background-image: url(../images/recipes/hangover-spikes.png);
}
.menu.menu--hangover-two .inner {
  border: 1px solid #ED3429;
}
.menu.menu--hangover-two .tagline {
  color: #ED3429;
}
.menu.menu--hangover-two a {
  color: #6F3922;
}

/* #################

Tea party
################# */
.menu.menu--tea-party {
  background: #B8DEC4 url(../images/recipes/dots-dark.png) center center repeat;
}
.menu.menu--tea-party .inner {
  padding: 0.65em;
  border: 1px solid #95cea7;
}
.menu.menu--tea-party .menu__card__dishes {
  border: 6px solid #c1c9e0;
  background: #fff url(../images/recipes/tpot.gif) right 12px bottom 12px no-repeat;
}
.menu.menu--tea-party .menu__card__dishes li {
  padding-bottom: 0;
}
.menu.menu--tea-party .menu__card__dishes .subheader {
  color: #275CAD;
  font-style: italic;
}
.menu.menu--tea-party .menu__card__dishes .divider {
  padding-bottom: 1.25em;
}
.menu.menu--tea-party .menu__card__dishes .divider:after {
  color: #275CAD;
}
.menu.menu--tea-party .menu__card__dishes a {
  color: #7d8ebe;
}

.tea-party + header + .wrapper .recipe__holder h2, .tea-party + header + .wrapper .recipe__holder h1 {
  color: #275CAD;
}

/* #################

Pancakes  && Fakeaway around the world

################# */
.menu.menu--around-world, .menu.menu--pancakes {
  background: #392B8A;
  background: -moz-linear-gradient(-45deg, #392B8A 0%, #150a55 50%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #392B8A), color-stop(50%, #150a55));
  background: -webkit-linear-gradient(-45deg, #392B8A 0%, #150a55 50%);
  background: -o-linear-gradient(-45deg, #392B8A 0%, #150a55 50%);
  background: -ms-linear-gradient(-45deg, #392B8A 0%, #150a55 50%);
  background: linear-gradient(135deg, #392B8A 0%, #150a55 50%);
}
.menu.menu--around-world .inner, .menu.menu--pancakes .inner {
  padding: 6px;
  position: relative;
  overflow: hidden;
  top: -6px;
}
.menu.menu--around-world .inner:after, .menu.menu--around-world .inner:before, .menu.menu--pancakes .inner:after, .menu.menu--pancakes .inner:before {
  content: '';
  position: absolute;
  right: -49px;
  bottom: -49px;
  border: 1px solid #392B8A;
  width: 96px;
  height: 96px;
  border-radius: 48px;
  background-color: #150a55;
  box-shadow: -6px -6px 0px #fff;
}
.menu.menu--around-world .inner:before, .menu.menu--pancakes .inner:before {
  right: auto;
  left: -49px;
  z-index: 9999;
  box-shadow: 6px -6px 0px #fff;
  background-color: #150a55;
}
.menu.menu--around-world .menu__card__dishes, .menu.menu--pancakes .menu__card__dishes {
  border: 3px solid  #EBBDBC;
  background: #fff url(../images/recipes/curry-style-right.png) right 6px bottom 12px no-repeat;
  position: relative;
  overflow: hidden;
  padding-top: 0;
  text-shadow: 0 0 6px #fff;
}
.menu.menu--around-world .menu__card__dishes:after, .menu.menu--around-world .menu__card__dishes:before, .menu.menu--pancakes .menu__card__dishes:after, .menu.menu--pancakes .menu__card__dishes:before {
  content: '';
  position: absolute;
  right: -55px;
  bottom: -55px;
  border: 3px solid #EBBDBC;
  width: 102px;
  height: 102px;
  border-radius: 70px;
  background-color: #fff;
}
.menu.menu--around-world .menu__card__dishes:before, .menu.menu--pancakes .menu__card__dishes:before {
  right: auto;
  left: -55px;
}
.menu.menu--around-world a, .menu.menu--pancakes a {
  color: #ED1941;
}
.menu.menu--around-world .tagline, .menu.menu--pancakes .tagline {
  color: #150a55;
  margin-top: 3em;
  background-color: transparent;
}
.menu.menu--around-world .lanterns, .menu.menu--pancakes .lanterns {
  background: transparent url(../images/recipes/curry-style-left.png) left top no-repeat;
  padding: 120px 1.1em 0 3.1em;
  margin-left: -2em;
}

.fakeaway-aroundworld + header + .wrapper .recipe__holder h2, .fakeaway-aroundworld + header + .wrapper .recipe__holder h1, .fakeaway-girls + header + .wrapper .recipe__holder h2, .fakeaway-girls + header + .wrapper .recipe__holder h1, .fakeaway-lads + header + .wrapper .recipe__holder h2, .fakeaway-lads + header + .wrapper .recipe__holder h1, .curry-heaven + header + .wrapper .recipe__holder h2, .curry-heaven + header + .wrapper .recipe__holder h1 {
  color: #150A55;
}

/* ######## Additional pancakes
################################# */
.menu.menu--pancakes {
  background: #F6CF99;
  background: -moz-linear-gradient(-45deg, #F6E8D6 0%, #F6CF99 70%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #F6CF99), color-stop(70%, #F6CF99));
  background: -webkit-linear-gradient(-45deg, #F6E8D6 0%, #F6CF99 70%);
  background: -o-linear-gradient(-45deg, #F6E8D6 0%, #F6CF99 70%);
  background: -ms-linear-gradient(-45deg, #F6E8D6 0%, #F6CF99 70%);
  background: linear-gradient(135deg, #F6E8D6 0%, #F6CF99 70%);
}
.menu.menu--pancakes .menu__card__dishes {
  background-image: none;
  padding-top: 2em;
}
.menu.menu--pancakes .tagline {
  color: #ED1941;
}
.menu.menu--pancakes a {
  color: #5375A4;
}
.menu.menu--pancakes .inner:after, .menu.menu--pancakes .inner:before {
  background-color: #F6CF99;
}

.pancake + header + .wrapper .recipe__holder h2, .pancake + header + .wrapper .recipe__holder h1 {
  color: #e28c14;
}

/* ######## Menu fakeaway
################################# */
.menu.menu--fakeaway {
  background: #452E8E url(../images/recipes/purple-zebra.gif) left top repeat;
}
.menu.menu--fakeaway .menu__card__dishes {
  background: transparent url(../images/recipes/curry-style-left.png) left top no-repeat;
  padding-top: 2em;
  border: 2px solid #CFA461;
}
.menu.menu--fakeaway .inner {
  padding: 16px;
  background: #fff url(../images/recipes/curry-style-right.png) right 12px bottom 12px no-repeat;
  box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.3);
}
.menu.menu--fakeaway .tagline {
  background-color: transparent;
}
.menu.menu--fakeaway a {
  color: #CFA461;
}
.menu.menu--fakeaway li {
  padding-bottom: 0;
}
.menu.menu--fakeaway .divider {
  padding-bottom: 2em;
}

/* #################

Menu budget // purse friendly

################# */
.menu.menu--budget {
  background: #EEE4D6;
  background: -moz-linear-gradient(-45deg, #EEE4D6 20%, #787A7B 60%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(30%, #EEE4D6), color-stop(60%, #787A7B));
  background: -webkit-linear-gradient(-45deg, #EEE4D6 20%, #787A7B 60%);
  background: -o-linear-gradient(-45deg, #EEE4D6 20%, #787A7B 60%);
  background: -ms-linear-gradient(-45deg, #EEE4D6 20%, #787A7B 60%);
  background: linear-gradient(135deg, #EEE4D6 20%, #787A7B 60%);
  padding: 24px;
}
.menu.menu--budget .inner {
  background-color: transparent;
  padding: 12px;
  border: 3px solid #9b7927;
  border-radius: 12px;
  position: relative;
}
.menu.menu--budget .inner:before, .menu.menu--budget .inner:after {
  width: 6px;
  height: 6px;
  content: '';
  background-color: #9b7927;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.menu.menu--budget .inner:after {
  left: auto;
  right: 0px;
}
.menu.menu--budget .menu__card__dishes {
  border: 2px solid #9b7927;
  padding: 6em 0;
  background: #fff url(../images/recipes/budget-mid.gif) center center no-repeat;
}
.menu.menu--budget .menu__card__dishes:before, .menu.menu--budget .menu__card__dishes:after {
  content: '';
  background: transparent url(../images/recipes/budget-header.gif) top center no-repeat;
  position: absolute;
  z-index: 555;
  top: 16px;
  left: 0;
  width: 100%;
  height: 105px;
}
.menu.menu--budget .menu__card__dishes:after {
  top: auto;
  bottom: 18px;
  background: transparent url(../images/recipes/budget-footer.gif) bottom center no-repeat;
}
.menu.menu--budget .menu__card__dishes li {
  padding-left: 3.5em;
  padding-right: 3.5em;
}
.menu.menu--budget .menu__card__dishes a, .menu.menu--budget .menu__card__dishes .divider:after {
  color: #9b7927;
}
.menu.menu--budget .menu__card__dishes .tagline {
  color: #61A33E;
}

/* #################

Sunday lunch

################# */
.menu.menu--sunday {
  background: #cabda7 url(../images/recipes/hessian.gif) top left repeat;
  border: 1px solid #cda096;
}
.menu.menu--sunday a, .menu.menu--sunday .divider, .menu.menu--sunday .divider:after {
  color: #F89B1C;
}
.menu.menu--sunday li {
  padding-bottom: 0;
}
.menu.menu--sunday .divider {
  padding-bottom: 1.5em;
}
.menu.menu--sunday .inner {
  padding: 10px;
}
.menu.menu--sunday .menu__card__dishes {
  border: 2px solid #894E41;
  padding-top: 4.5em;
  background: transparent url(../images/recipes/sunday-header.gif) top 24px center no-repeat;
}
.menu.menu--sunday .tagline {
  margin-top: 3em;
  color: #894E41;
}

/* ######################

Menu Lads Only

#################### */
.menu.menu--lads-only {
  background: #452E8E url(../images/recipes/lads.gif) left top repeat;
}
.menu.menu--lads-only .menu__card__dishes {
  background: transparent url(../images/recipes/stars.gif) center top 70px no-repeat;
  padding: 5em 0 5em 0;
  border: 2px solid #78787d;
}
.menu.menu--lads-only .inner {
  padding: 0px;
  background: #fff url(../images/recipes/stars.gif) center bottom 70px no-repeat;
  box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.3);
}
.menu.menu--lads-only a {
  color: #ff0000;
}
.menu.menu--lads-only li {
  padding-bottom: 0;
}

/*# sourceMappingURL=menus.css.map */
