/* ######################################################### */
/*                CALLS TO ALL THE PARTIALS                  */
/* ######################################################### */
@import "E:/SVNProjects/Trunk/SlimmingWorld/UK/Public/www/assets/prototype/app-library/final/partials/_reset";
@import "E:/SVNProjects/Trunk/SlimmingWorld/UK/Public/www/assets/prototype/app-library/final/partials/_variables-global";
//@import "E:/SVNProjects/Trunk/SlimmingWorld/UK/Public/www/assets/prototype/app-library/final/partials/_helpers";
@import "E:/SVNProjects/Trunk/SlimmingWorld/UK/Public/www/assets/prototype/app-library/final/partials/_utilities";
@import "E:/SVNProjects/Trunk/SlimmingWorld/UK/Public/www/assets/prototype/app-library/final/partials/_mixins";
//@import "E:/SVNProjects/Trunk/SlimmingWorld/UK/Public/www/assets/prototype/app-library/final/partials/_navigation";
@import "E:/SVNProjects/Trunk/SlimmingWorld/UK/Public/www/assets/prototype/app-library/final/partials/_typography";
@import "E:/SVNProjects/Trunk/SlimmingWorld/UK/Public/www/assets/prototype/app-library/final/partials/_buttons";
//@import "E:/SVNProjects/Trunk/SlimmingWorld/UK/Public/www/assets/prototype/app-library/final/partials/_tables";
//@import "E:/SVNProjects/Trunk/SlimmingWorld/UK/Public/www/assets/prototype/app-library/final/partials/_icons";
@import "E:/SVNProjects/Trunk/SlimmingWorld/UK/Public/www/assets/prototype/app-library/final/partials/_forms";


/* #####################################################

Local Variables

###################################################### */

$lime-green:#D5DC31;
$dark-green:#42A058;
$slate-grey:#23262a;
$sw-red:#ED1941;
$menu-red:#EC1C25;

// not sure who thought these two shades of green go well together. they look awful. probably one of the 'real' designers. not us pretend web people.

/* #####################################################
Font declarations
###################################################### */

@font-face {
    font-family: 'harabarahanditalic';
    src: url('//www.slimmingworld.com/assets/fonts/harabarahand-webfont.eot');
    src: url('//www.slimmingworld.com/assets/fonts/harabarahand-webfont.eot?#iefix') format('embedded-opentype'),
         url('//www.slimmingworld.com/assets/fonts/harabarahand-webfont.woff2') format('woff2'),
         url('//www.slimmingworld.com/assets/fonts/harabarahand-webfont.woff') format('woff'),
         url('//www.slimmingworld.com/assets/fonts/harabarahand-webfont.ttf') format('truetype'),
         url('//www.slimmingworld.com/assets/fonts/harabarahand-webfont.svg#harabarahanditalic') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* ####################################################

copied from group register - should be in lib?

#####################################################*/

html {
    background-color:#dfdfdf;
    background-image:url('../images/backgrounds/768/primary.jpg');
    background-position: right bottom; // we want the free food feb graphic in shot
    background-size: cover; // must be prefixed - prepros doing it at the moment.
    background-attachment:fixed;
    min-height:100%;
   @media screen and (min-width:520px) {
       box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
   }
}


$breakpoints: 320 768 1280 1920; // used as the actual breakpoint in px, and is the directory structure path.
    @each $breakpoint in $breakpoints {
        @media screen and (min-width:#{$breakpoint}px) {
            html.noaccount,  html.hadaccount {
                background-image:url('../images/backgrounds/#{$breakpoint}/primary.jpg');
            }
            html.register1 {
                background-image:url('../images/backgrounds/#{$breakpoint}/primary.jpg');
            }
            html.register2 {
                background-image:url('../images/backgrounds/#{$breakpoint}/primary.jpg');
            }
            html, html.register2 {
                background-image:url('../images/backgrounds/#{$breakpoint}/primary.jpg');
            }
        }
    }

body {
    padding:$gutter/2;
    padding-bottom:200px; // to allow the footer to have position fixed

}

.wrapper {
    position:relative;
    max-width:960px;
    margin:auto;
}

.intro {
    margin:auto;
    max-width:$full-width/2;

    p {
            font-size:125%;
    }

}

/* ##############################################

Footer with party bag info etc

###############################################*/

/* footer */ .theme--supplemental {
    position:absolute; //for browsers that dont 'get' fixed. this may or may not work. probably not.
    position:fixed;
    z-index:999;
    left:0;
    right:0;
    bottom:-120px; // this is hidden then slides in to place
    background-color:rgba(#181716, 0.9);
    text-align:center;
    padding:0.5em 1em;
    border-top:1px solid #333;
    box-shadow: 0 -3px 3px rgba($slate-grey, 0.5);
     p {
         color:#fff;
         margin-bottom:0;
         padding:0;
     }

    .btn {
        margin:0;
    }
}


.logo {
    position:absolute;
    left:10px;
    top:10px;
    width:200px;
    text-align:center;
    @media screen and (min-width:$full-width) {
        position:fixed;
    }
}

    .fff-header {
        width:100%;
    }



/* ##############################################

Back to themes naviagtion

###############################################*/

.navigation {
    font:1.25em 'Sorts Mill Goudy', serif;
     a{
         color:$sw-red;
     }
}



#js-themes-nav {
    opacity:0;
    background:transparent url('../images/svg/green-banner.svg') center right no-repeat;
    background-size: cover;
    display:block;
    width:300px;
    padding:1em 2em;
    position:relative; // transit.js needs this
    left:-172px;
}


/* ##############################################

Theme 'Cards' layout

###############################################*/


.theme__holder{
    position:relative;
    width:100%;
    margin-top:3em;
}

.loading {
   & .theme__card {
        opacity:0;
    }
}

    .theme__card {
        opacity:1;
        box-shadow:1px 1px 3px 1px rgba(#000, 0.35);
        margin: 12px 1.5%;
      border:1px solid $lime-green;
        border-radius:6px;
        width:30.3%; // set the desktop size as default so we dont have to mess about for IE8
        float:left;
        transition: all 125ms ease;
        background:#fff url(../images/invites/fakeaway.jpg) center top no-repeat;

        &:hover {
            margin-top:4px;
        }
         @media screen and (max-width:680px){
            width:96%;
            margin:6px 2%;
        }

        @media screen and (min-width:681px)  and (max-width:1200px) {
            width:46%;
            margin:28px 2%;
        }



        a {
            line-height:0;
            display:block; // force to encapsulate img correctly chrome:40
            outline:1px solid #f00;
        }

        &.visited {
             border:1px solid lighten($sw-red, 0.85);
             scale:1.1;
        }
    }


    .theme__card__link {
        padding:6em 0.5em 0.5em 0.5em;
    }


.theme__card__header {
    font-size:90%;
    background:rgba(#000, 0.75);
    color:#fff;
    padding:0.5em;

}


/* ##############################################

Menu 'Cards' layout

###############################################*/

.theme__holder {
    position:relative;
    .menu {
        opacity: 0;
        visibility:hidden; // we fade this in after load();
    }
}



/* ##################################################

Recipes

 ################################################## */



.loader {
     margin:3em auto;
     display:block;
    outline:1px solid #f00;
}

// appended when we $.load
.recipe__holder {
    float:right;
    width:65%;
    clear:none;
    opacity:0;
    position:relative;
    overflow:auto;
    background-color:rgba(#fff, 0.75);
    padding:2em;
    box-shadow:2px 2px 18px rgba($slate-grey, 0.5);

        h1 {
            background:none !important; // this is set inline
            font: 2.25em/1.1 'Sorts Mill Goudy', serif;
        }

        h2 {
        font: 1.75em/1.1 'Sorts Mill Goudy', serif;
        }

    @media screen and (max-width:600px) {
        width:100%;
        background-color:rgba(#fff, 0.85);
    }

    .panel {
        border: 1px solid #e5e0e0;
        background: rgba(#e5e3e2, 0.75);
        margin-bottom: 0.65em;
        padding:0.5em;
        border-radius: 0 0 4px 4px;

    ul {
        list-style:none;
        font-size:90%;
        margin-bottom:0;
    }
    li {
        display:inline-block;
        margin-right:1em;
        min-width:40%;
        white-space:nowrap;
        padding-left: 26px;
        background: transparent url(http://www.slimmingworld.com/assets/images/ui-elements/recipe-icons.png) 0px 0px no-repeat;
    }
    .serves-title {
        background-position:0px -49px;
    }

    .syns {
        white-space:nowrap;
        background-position:0px -104px;

        ul {
            display:inline;
            clear:none;
            font-weight:bold;
            }
        }
    }
}

// massive images that get loaded with recipes. may not be needed
.recipe--image {
    position:fixed;
    bottom:0px;
    left:0;
    z-index:0;
    opacity:0;
}


// hack hack as we are getting more html back than we need, and dont have time to get JSON on the case instead
.printCTA, .ctasignup, #recipe-information img { // need to strip the images out of this
   display:none;
}


 .secondary-header {
     font-family: 'Sorts Mill Goudy', serif;
 }

//}

.fff-panel {
    padding:$gutter/2;
    margin:$gutter/2;
    border-radius:2px;
    width:100%;
    float:left;
}
