/* #####################################################

Local Variables

###################################################### */

$lime-green:#D5DC31;
$dark-green:#42A058;
$slate-grey:#23262a;
$sw-red:#ED1941;
$menu-red:#EC1C25;
$non-link-default:#999;


/*###############################################################

add to primary css

*/

.recipe--image {
right:0;
left:auto;
}

.recipe--image {
 z-index:9999 !important;
}

.recipe__holder {
  z-index:99990 !important;
}

footer {
 z-index:99999 !important;
}

.kern {
margin-right:-3px;
}
/*#################
Basic setup
###################*/

.menu__holder {
    max-width:560px;
    position:absolute; // we position with this so we can get the menu absolute centre (with
}

.menu {
     max-width:540px;
     position:relative;
     z-index:999;
     padding:2.5em;
     border-radius:1px;
     box-shadow: 1px 1px 18px 6px rgba($slate-grey, 0.35);
     transform-origin: 0% 0%; // used by transit.js to scale

//    &:hover {
//        & a {
//            //border-bottom: 1px solid currentColor;
//            text-decoration:underline;
//            //background-color:#ccc;
//        }
//    }
}



.note {
    font-size:80%;
}

.menu__card__dishes {
 margin:0;
 position:relative;
color:$non-link-default;
    a {
        width:100%;
        display:block;
    }
     a:hover {
         text-decoration:underline;
     }
    a:visited {
        opacity:0.5;
    }
}

/*ul*/ .menu__card__dishes, .tagline, .inner-list {
    background-color:#fff;
    font:1.45em/1.2 'Sorts Mill Goudy', serif;
    color:$slate-grey;
    list-style:none;
    text-align:center;
    padding:1.754em;
    border:3px dotted  lighten($slate-grey, 80%);
    border-radius:3px;
         li {
            padding:0 0 1.5em 0;
             margin-top:1em;
             }
         }

.tagline {
    border:none;
    font-size:90%;
    letter-spacing:-1px;
    font-style:italic; // we should bring this in
}

 .menu__card__header {
    color:#fff;
    height:5.85em;
    width:120%;
    max-width:120%;
    margin:0 -10%;
    padding-top:1em;
   // top:-52px;
     z-index: 999999999;
    background:transparent url(../images/svg/red-banner.svg) center center no-repeat;
    background-size: contain;
    text-shadow: 0px 2px 1px rgba(#000, 0.1);
 }


  .inner {
      padding:2em;
      background-color:#fff;
//      box-shadow:3px 3px 2em 0px rgba(#333, 0.25);
}


.divider {
 padding-bottom:1em;
 position:relative;
 margin-bottom:1.5em;
    &:after {
        content:'~';
        font-family:serif;
        width:100%;
        display:block;
        font-size:1.5em;
        line-height:0;
        color:lighten($slate-grey, 50%);
        position:absolute;
        bottom:0;
        left:0;
    }
}



/* #################

Chinese

################# */

$menu-chinese:#7C3136;
$darker-chinese:#E4BA87;
.menu--chinese {
    background:#F8EEDE url(../images/recipes/chinese-border.gif) center center repeat;
    box-shadow:inset 0 0 3px rgba(#333, 0.55), 1px 1px 12px 6px rgba($slate-grey, 0.25);
    .inner {
        outline:12px solid rgba($slate-grey, 0.15);
        background:#fff  url(../images/recipes/chinese-flowers.jpg) bottom left no-repeat;
        box-shadow:3px 3px 2em 0px rgba($slate-grey, 0.55);
        margin-top:-6px;
    }

    ul {
        border-color:$menu-chinese;
        border-top:0;
        padding-top:72px;
        margin:-12px 0 0 ;//ten up to the header
        background:transparent url(../images/recipes/chinese-bird.gif) top 22px right 22px no-repeat;
    }

    li {
     padding-bottom:0em;

    }

    .divider {
     padding-bottom:1.5em;
    }



    a {
        color:$menu-chinese;
    }

// kern the captial 'F'
    .char9 {
     margin-right:-5px;
    }
}

/* #################

Dinners

################# */
$dinner-sand:darken(#D2AB66, 10%);
$dinner-yellow:#FBB020;

.menu--dinner {
    background:#F8EEDE url(../images/recipes/chinese-border.gif) center center repeat;
    box-shadow:inset 0 0 3px rgba(#333, 0.55), 1px 1px 12px 6px rgba($slate-grey, 0.25);

        .menu__card__dishes {
            border:1px solid $dinner-sand;
            margin:1.25em;
            margin-top:2.5em;
            padding-top:5em;
            background:#fff url(http://placehold.it/200x100) top 18px center no-repeat;
            box-shadow: 0 0 1em 0px  $dinner-sand;
        }

        li:after {
            color:lighten($dinner-sand, 20%);
        }
         a{
         color:$dinner-sand;
        }

        .tagline {
             color:$dinner-yellow;
                //position:relative;

            &:after, &:before {
                content:'';
                position:absolute;
                right:0;
                bottom:0;
                display:block;
                width:72px;
                height:72px;
                background:#fff url(http://placehold.it/72x72) center center no-repeat;
            }

            &:before {
                left:0;
                right:auto;
            }
        }
    }


/* #################

Valentines

################# */

.menu--valentines {
    background-color:$menu-red;

    .tagline {
          margin-top:0;
          padding-top:2.5em;
          background:transparent url(../images/recipes/heart-divider.gif) center top no-repeat;
    }

}


/* #################

Hangover 1

################# */
$hangover-blue:#2D9BD6;
$hangover-green:#5A975E;

.menu.menu--hangover {
    background:$hangover-blue url(../images/recipes/check-borders.png) center center repeat;
    padding:1.75em ;

    .inner {
        background:#fff url(../images/recipes/paper-bg.gif) center center repeat;
        padding:8px;
        border:1px solid $hangover-blue;
    }

    .menu__card__dishes {
        background-color:transparent;
        border:3px solid lighten($slate-grey, 40%);
        padding:0px;
        ul {
                background-color:transparent;
            border:1px solid lighten($slate-grey, 50%);
            margin:4px;
            font-size:95%;
        }
    }

    li {
        list-style:none;
        padding-bottom:0;
    }

    .tagline {
        background-color:transparent;
        color:$hangover-green;
        margin-top:3em;
    }

    a {
      color:$hangover-blue;
    }

    .inner-list {
        position:relative;

        &:before, &:after  {
            position:relative;
            opacity:0.75;
            top:0;
            margin:auto;
            content:'';
            width:100%;
            display:block;
            height: 64px;
            background:transparent url(../images/recipes/hangover-curls.png) center top no-repeat;
        }

        &:after {
             background:transparent url(../images/recipes/hangover-curls-invert.png) center bottom no-repeat;
                top:auto;
                bottom:-1em;
        }
    }
}


/* #################

Hangover 2

################# */
$hangover-red:#ED3429;
$hangover-brown:#6F3922;


.menu.menu--hangover-two {
     background-color:$hangover-red;

       .inner-list {
           &:after, &:before {
               background-image:url(../images/recipes/hangover-spikes.png);
           }

       }

    .inner {
        border:1px solid $hangover-red;
    }

    .tagline {
        color:$hangover-red;
    }

    a {
        color:$hangover-brown;
    }
}

/* #################

Tea party
################# */
$mint-green:#B8DEC4;
$light-blue:#7d8ebe;
$dark-blue:#275CAD;



.menu.menu--tea-party {
    background:#B8DEC4 url(../images/recipes/dots-dark.png) center center repeat; // -dark, -dark-med

    .inner {
     padding:0.65em;
     border:1px solid darken($mint-green, 10%);
    }

    .menu__card__dishes {
        margin-top:-2em;
        border:6px solid  lighten($light-blue, 20%);
        background:#fff url(../images/recipes/tpot.gif) right 12px bottom 12px no-repeat;

        li {
             padding-bottom:0;
        }

        .subheader {
            color:$dark-blue;
            font-style:italic;
        }

        .divider {
         padding-bottom:1.5em;

            &:after {
                color:$dark-blue;
            }
        }

        a {
         color:$light-blue;
        }
    }
}



/* #################

Pancakes  && Fakeaway around the world

################# */

$fakeaway-world-sandy:#F7CB93;
$fakeaway-world-darker:#CEAE86;

.menu.menu--around-world,  .menu.menu--pancakes{
    background: #fefcea;
    background: -moz-linear-gradient(-45deg,  #fefcea 0%, $fakeaway-world-sandy 70%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#fefcea), color-stop(70%,$fakeaway-world-sandy));
    background: -webkit-linear-gradient(-45deg,  #fefcea 0%,$fakeaway-world-sandy 70%);
    background: -o-linear-gradient(-45deg,  #fefcea 0%,$fakeaway-world-sandy 70%);
    background: -ms-linear-gradient(-45deg,  #fefcea 0%,$fakeaway-world-sandy 70%);
    background: linear-gradient(135deg,  #fefcea 0%,$fakeaway-world-sandy 70%);

    .inner {
        padding:6px;
        position:relative;
        overflow:hidden;
        top: -6px;
         &:after, &:before { // complex inner border radius
            content:'';
            position:absolute;
            right:-49px;
            bottom:-49px;
            border:1px solid $fakeaway-world-darker;
            width:96px;
            height:96px;
            border-radius:48px;
            background-color:$fakeaway-world-sandy;
            box-shadow: -6px -6px 0px #fff;
        }
        &:before { // complex inner border radius
            right:auto;
            left:-49px;
            z-index:9999;
            box-shadow: 6px -6px 0px #fff;
            background-color:#F9D8AA;
        }
    }

    .menu__card__dishes {
        border:3px solid  #EBBDBC;
        background:#fff url(../images/recipes/fakeaway-bg.gif) left -4px top 0px repeat;
        position:relative;
        overflow:hidden;
        padding-top:0;
        text-shadow:0 0 6px #fff;

         &:after, &:before { // complex inner border radius
           content: '';
            position: absolute;
            right: -55px;
            bottom: -55px;
            border: 3px solid #EBBDBC;
            width: 102px;
            height: 102px;
            border-radius: 70px;
            background-color: #fff;
        }

        &:before { // complex inner border radius
            right:auto;
            left:-55px;
        }
  }

        a{
            color:$sw-red;
        }

    .tagline {
        color:$fakeaway-world-darker;
        margin-top:3em;
        background-color:transparent;
    }

        .divider:after {
            content:'';
        }

    li {
        padding:0;
    }

    .char2 {
        margin-right:-7px;
    }


    .lanterns {
        padding-top:196px;
        background:transparent url(../images/recipes/lanterns.gif) center top no-repeat;
        margin-top:-12px;
        padding:196px 1.1em 0 1.1em;
    }
}

/* ######## Additional pancakes
################################# */
$pancake-blue:#5375A4;

.menu.menu--pancakes{
    .menu__card__dishes {
        background-image:none;
        padding-top:2em;
    }

    .tagline {
        color:$sw-red;
    }

    a {
        color:$pancake-blue;
    }
}


/* #################

Menu budget // purse friendly

################# */

$budget-sand:#EEE4D6;
$budget-muddy:#9b7927;
$budget-grey:#787A7B;
$budget-green:#61A33E;

.menu.menu--budget {
    background:$budget-sand;
    background: -moz-linear-gradient(-45deg,  $budget-sand 20%, $budget-grey 60%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(30%,$budget-sand), color-stop(60%,$budget-grey));
    background: -webkit-linear-gradient(-45deg,  $budget-sand 20%,$budget-grey 60%);
    background: -o-linear-gradient(-45deg,  $budget-sand 20%,$budget-grey 60%);
    background: -ms-linear-gradient(-45deg,  $budget-sand 20%,$budget-grey 60%);
    background: linear-gradient(135deg,  $budget-sand 20%,$budget-grey 60%);
    padding:24px;

    .inner {
        background-color:transparent;
        padding:12px;
        border:3px solid $budget-muddy;
       border-radius:12px;

        position:relative;
            &:before, &:after {
                width:6px;
                height:6px;
                content:'';
                background-color:$budget-muddy;
                position:absolute;
                bottom:0px;
                left:0px;
            }
            &:after {
                left:auto;
                right:0px;
            }
         }

      .menu__card__dishes {
         border:2px solid $budget-muddy;
         padding:6em 0;
         background:#fff url(../images/recipes/budget-mid.gif) center center no-repeat;

          &:before, &:after {
              content:'';
              background:transparent url(../images/recipes/budget-header.gif) top center no-repeat;
             position:absolute;
              z-index:555;
              top:16px;
              left:0;
              width:100%;
              height:105px;
          }

           &:after {
               top:auto;
               bottom:18px;
               background:transparent url(../images/recipes/budget-footer.gif) bottom center no-repeat;
           }


          li {
              padding-left: 3.5em;
              padding-right: 3.5em;
          }

           a, .divider:after {
               color:$budget-muddy;
           }

          .tagline {
              color:$budget-green;
          }
      }
    }

/* #################

Sunday lunch

################# */

$sunday-yellow:#F89B1C;
$sunday-sand:#cabda7;

.menu.menu--sunday {
    background:$sunday-sand url(../images/recipes/hessian.gif) top left repeat;
    border:3px solid $sunday-sand;

     a, .divider, .divider:after {
       color:$sunday-yellow;
     }

    li{
      padding-bottom:0;
    }

    .divider {
        padding-bottom:1.5em;
    }
}
